body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.font-exo {
  font-family: "Exo 2", sans-serif;
  text-shadow: 2px 2px 3px rgba(0, 0, 139, 0.6);
}

.font-roboto {
  font-family: "Roboto Mono", monospace;
  text-shadow: 2px 2px 3px rgba(0, 0, 139, 0.6);
}

.boxShadowBlur {
  box-shadow: 0 0 10px gray;
}
